/*
header{} <-- nom de l'élément: cible toutes les balises de type <header> de ta page
.nomdeclasse <-- cible tous les éléments qui ont la classe <div class="nomdeclasse"></div>
#nomduid <-- cible tous les éléments qui ont l'id <div id="nomduid"></div>
*/

@font-face {
  font-family: "Raleway";
  src: url("Raleway-VariableFont_wght.ttf");
}

header {
  display: flex;
  justify-content: space-between;
  font-family: "Raleway";
}

#menu {
  display: flex;
  margin: 10px;
  color: blue;
}

#filter{
display:flex;


}

nav a:hover {
  color: blue;
  border-top: 2px solid blue;
  padding-top: 20px;
}

li {
  margin: 10px;
}

ul {
  list-style-type: none;
}

#localisation {position:relative; width:1040px; height:auto;}

  .formulaire               {display:inline-block;}
  .formulaire .champ       {width:200px; height:25px;}
  


}

p1{
  border: 1px solid #f2f2f2
  border-radius: 5px;

}

#localisation{
  display: flex; 
}


#information {
  display: flex;
}

#fit {
  display: flex;
}

#Hebergement {
  display: grid;
  border-radius: 5px 5px 5px 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

#populaire {
  display: grid;
  border-radius: 5px 5px 5px 5px;
  grid-gap: 30px;
}

article {
  width: 70%;
}

aside {
  width: 30%;
  margin-left: 50px;
}

.location {
  display: flex;
  margin-bottom: 20px;
}

.box {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 15px;
  background-color: #f2f2f2;
  padding: 30px;
  flex-wrap: wrap;
}

.card {
  border: 3px solid rgb(255, 255, 255);
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.03);
}

#Hebergement .card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

#populaire .card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

#pls {
  display: flex;
}

.interne {
  flex-direction: column;
}

.activites {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
}
#acti {
  flex-direction: column;
}

.pied {
  border: 1px solid rgb(255, 255, 255);
  background-color: #ddd;
}

#bas {
  display: grid ;
  grid-template-columns: 1fr 1fr 1fr;
  
}

#infosupp {
  align-content: left;
  font-family: "Raleway";
}

.logo1 {
  width: 110px;
  height: 50px;
  object-fit: cover;
}

.fond1 {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.fond2 {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.fond3 {
  width: 300px;
  height: 100px;
  object-fit: cover;
}

h1 {
  font-family: "Raleway";
}

p {
  font-family: "Raleway";
}

h2 {
  font-family: "Raleway";
}

h3 {
  font-family: "Raleway";
}

h4 {
  font-family: "Raleway";
}

.choix{
  display: flex;
  border: 1px solid black;
  border-radius: 30px;
  height : 5 px;
  width: 15%;
  margin: 10px;
  justify-content: center;
  align-content: space-between;

  transition-property: background-color
  transition-duration: 5s;
}

.choix:hover{
  background-color: blue;
  color: white;
}

.titr{
  align-content: space-between;
}